<header [@changeBackground]="whiteBackground ? 'white' : 'transparent'" class="header">
  <div  class="content">
    <div class="header-name">
      <a href="/" class="name" [ngClass]="{'white-background': whiteBackground}">ELCHANAN</a>
    </div>
    <div class="buttons">
      <Button class="about btn" (click)="onAboutClicked()" [ngClass]="{'white-background': whiteBackground}">About</Button>
      <Button class="contact btn" (click)="onContactClicked()" [ngClass]="{'white-background': whiteBackground}">Contact</Button>
    </div>
  </div>
</header>
