<footer id="footer">
    <div class="icons">
        <a href="https://github.com/elci98" target="_blank"> <app-svg [iconname]="'GitHub'"></app-svg></a>
        <a href="https://www.linkedin.com/in/elchanan-mahatsri/" target="_blank" target="_blank"> <app-svg [iconname]="'Linkedin'"></app-svg></a>
        <a href="mailto: elchananmahatsri@gmail.com" target="_blank"> <app-svg [iconname]="'Gmail'"></app-svg></a>
    </div>
    <p> Elchanan Mahatsri, Copyright © 2024 </p>
    <span style="user-select: text;-webkit-user-select: text;cursor: text;"> elchananmahatsri&#64;gmail.com </span>
</footer>