<section class="intro">
  <div class="container">
    <div class="left-side">
      <h3 class="name">Elchanan Mahatsri</h3>
      <h2 class="title">Full Stack Developer</h2>
      <div class="intro">
        <p>
          I am a Full-Stack Developer, working for the last 2 years.<br />
          I have experience working along with clients from all around the
          world.<br />
          I have vast knowledge in Angular, Node.JS, HTML, css, Javascript
          MongoDB and so on.
        </p>
        <!-- <a
          href="assets\cv\ElchananMahatsri_CV.pdf"
          download="example_cv.pdf"
          class="download-cv btn"
        >
          DOWNLOAD CV
        </a> -->
      </div>
    </div>
    <aside>
        <img src="../../assets/imgs/minion.jpg" />
    </aside>
  </div>
</section>
