    <div class="skills container">
      <p class="line-1"></p>
      <h2>My Skills</h2>
      <p class="line-2"></p>
      <div class="skills-list-wrapper" #skillsListWrraper>
        <div class="skills-list" #skillsList >
            <app-skill-item #skillsListItem *ngFor="let skill of staticSkillsList"
              [name]="skill.name"
              [text]="skill.text"
              [width]="elementWidthFactor"
              (mouseenter)="handleInterval(true)" 
              (mouseleave)="handleInterval(true)">
            </app-skill-item>
        </div> 
        <button (click)="scrollTo(i+1)" class="btn" [ngClass]="{'active': i+1 === selectedPage}" *ngFor="let item of Array;index as i;">
          <span></span>
        </button>
    </div>
</div>
