    <div class="skills container"><!-- container  -->
      <p class="line-1"></p>
      <h2>What I Offer</h2>
      <p class="line-2"></p>
      <div class="skills-list-wrapper" #skillsListWrraper><!-- slider-wrapper  -->
        <div class="skills-list" ><!-- wrapper=holder  -->
            <app-skill-item #skillsListItem *ngFor="let skill of skillsList"
              [name]="skill.name"
              [text]="skill.text"
              [width]="elementWidthFactor">
            </app-skill-item>
        </div>
    </div>
</div>
