@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

@keyframes MoveUpDown {
    0% {
        top: 0%;
        opacity: 1;
    }

    15% {
        opacity: 1;
        top: 38%;
    }

    50% {
        opacity: 0;
        top: 38%;
    }

    100% {
        opacity: 0;
        top: 0%;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}