@font-face {
    font-family: 'Assistant';
    src: url('assets\\fonts\\Assistant.ttf') format('truetype');
}

$textColor: rgba(0, 0, 0, 0.5);
$btnTextColor: white;
$primaryColor: rgb(92, 211, 74);
$backgroundColor: rgba(92, 211, 74, 0.23);

html,
body {
    --edgeposition: -135%;
    font-size: 15px;
    font-family: "Assistant";
    overflow-x: clip;
    height: 100%;
    width: 100%;
    margin: 0;
    user-select: none;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn {
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    background-color: $primaryColor;
}

ul {
    list-style-type: none;
}

app-root {
    visibility: hidden;
    text-align: -webkit-center;

    &.loaded {
        visibility: visible;
    }
}

.app-loading {
    height: 100%;
    background-color: white;
    align-content: center;
    text-align: -webkit-center;
    position: relative;
    z-index: 1000;

    .loader {
        width: 65px;
        aspect-ratio: 1;
        position: relative;
    }

    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        border-radius: 50px;
        box-shadow: 0 0 0 3px inset $primaryColor;
        animation: l4 2.5s infinite;
    }

    .loader:after {
        animation-delay: -1.25s;
    }

    @keyframes l4 {
        0% {
            inset: 0 35px 35px 0;
        }

        12.5% {
            inset: 0 35px 0 0;
        }

        25% {
            inset: 35px 35px 0 0;
        }

        37.5% {
            inset: 35px 0 0 0;
        }

        50% {
            inset: 35px 0 0 35px;
        }

        62.5% {
            inset: 0 0 0 35px;
        }

        75% {
            inset: 0 0 35px 35px;
        }

        87.5% {
            inset: 0 0 35px 0;
        }

        100% {
            inset: 0 35px 35px 0;
        }
    }
}

.root.background-img {
    height: 100%;
    width: 102%;
    background-position: revert;
    background-size: cover;
    background-image: url('./assets/imgs/background2.jpg');
    display: table;
    min-height: 400px;

    .welcome {
        font-size: 4rem;
        text-align: center;
        width: 100%;
        vertical-align: middle;
        display: table-cell;
        .welcome-text{
            color: $textColor;
        }
        .scrolldown-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;

            .border {
                height: 4.166667rem;
                width: 2rem;
                border: 0.3rem solid $textColor;
                border-radius: 2rem;
                text-align: -webkit-center;
                position: relative;

                .dot {
                    height: 1rem;
                    width: 1rem;
                    border-radius: 1rem;
                    background-color: $textColor;
                    animation: MoveUpDown 2s linear infinite;
                    position: absolute;
                    margin: 0.5rem;
                }
            }
        }
    }

    .btn {
        background: transparent;
        height: 3rem;
        width: 6rem;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 5rem;
        z-index: 1;

        .content {
            display: flex;
            align-items: center;
            width: calc(100% - 5rem);
            justify-content: space-between;


            .header-name {
                font-size: 3rem;
                margin: 0.5rem 0 0 1rem;
                font-weight: bold;

                .name {
                    color: rgba(0, 0, 0, 0.5);
                    text-decoration: auto;
                    &.white-background{
                        animation: fade-out 0.5s ease-out forwards;
                    }
                }
            }
            .buttons .btn.white-background{
                color: $primaryColor;
            }
        }

        .menu-body {
            box-shadow: rgba(0, 0, 0, 0.35) 0.2rem 0.2rem 0.2rem 0.2rem;
            background: white;
            border-radius: 1rem;
            height: fit-content;
            width: 10rem;
            margin: 0;
            padding: 0;
            margin-right: 2rem;
            float: right;

            li button {
                display: flex;
                padding: 0.5rem;
                float: left;
                span {
                    margin-left: 1rem;
                }
                &:before {
                    font-weight: 300;
                    font-family: "Material Icons";
                    display: block;
                    padding: 0.2rem;
                }
            }

            .about:before {
                content: "\e88e";
            }

            .resume:before {
                content: "\e853";
            }

            .contact:before {
                content: "\e0cf";
            }
        }

    }
}

.intro {
    margin: 6.5rem 0 6.5rem 0;
    .container{
        display: flex;
        align-items: flex-end;
        column-gap: 2rem;
        flex-direction: row-reverse;     
        justify-content: center;
        .left-side {
            font-size: 2rem;
            text-align: start;            
            .name {
                font-size: 4rem;
                font-weight: bold;
                margin-top: 0;
            }
    
            .title {
                font-size: 3rem;
                font-weight: 500;
            }
    
            .intro-txt .btn {
                height: 5rem;
                display: flex;
                width: 12rem;
                font-size: 1.1rem;
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: auto;
                &:after{
                    font-family: 'Material Icons';
                    content: "\e2c4";
                    padding: 0.5rem ;
                }
            }
        }
        aside, aside img{
            width: 28.8rem;
            height: 30.1333333rem;   
        }
    }
}

.skills {
    text-align: -webkit-center;
    background-color: $backgroundColor;
    min-width: 40rem;            
    max-width: 160rem;
    .line-1{
        height: 1px;
        width: 10rem;
        margin: 2rem 0 0 0;
        background: $primaryColor;
    }
    .line-2{
        height: 1px;
        width: 10rem;
        margin: 0;
        background: $primaryColor;
    }
    h2{
        font-weight: 700;
        font-size: 3rem;
        margin: 0;
        padding: 0.5rem 0 0.9rem 0;
    }
    .skills-list-wrapper {
        height: 37rem;
        align-content: center;
        overflow: hidden;
        padding: 1rem;
        min-width: 30rem;            
        button {
            background-color: transparent;
            &.active, &:hover {
                span{
                    background-color: #869791;
                }
            }
            span{
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background-color: #D6D6D6;
                display: block;
                backface-visibility: visible;
                transition: opacity 200ms ease;
                border-radius: 30px;
            }
        }
        .skills-list {
            position: relative;
            display: flex;
            column-count: 1;
            padding: 0;
            column-gap: 1rem;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            app-skill-item .skill-item-container {
                height: 25rem;
                border-radius: 1rem;
                .skill-name {
                    font-size: 3.5rem;
                    font-weight: 600;
                    margin: 4rem 0 3rem 0;
                }

                .skill-text {
                    font-size: 1.4rem;
                    font-weight: 400;
                    width: 80%;
                }
            }
        }

    }
}

footer{
    background: $backgroundColor;
    padding: 1.5rem;
    margin-top: 6.5rem;
    .icons{
        display: flex;
        column-gap: 3rem;
        justify-content: center;
        margin-top: 0.5rem;
    }
    p{
        margin-bottom: 0;
    }
}

@media (max-width: 700px) {

    #scrolldown {
        display: none;
    }

    #intro-container{
        aside{
            height: 100%;
            width: 100%;
            margin-top: 6.5rem ;
            padding: 0;
            img{
                height: inherit;
                width: inherit;
            }
        }
     }
     footer{
        font-size: 1.2rem;
     }
 
}

@media(max-width: 1500px){
   body{
    --edgeposition:-254%;
   }
   #intro-container{
        display: block;
        .left-side{
            text-align: unset;
        }
        aside{
            margin-top: 6.5rem;
        }
   }
}

@media(max-width: 1000px){
    body{
     --edgeposition:-620%;
    }
}

@media (min-width: 700px) {
    #menubody {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    html,body {
        font-size: 10px !important;
    }
    #intro-container aside{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-height: 750px) {
    html,body {
        font-size: 12px;
    }
}

@keyframes MoveUpDown {
    0% {
        top: 0%;
        opacity: 1;
    }

    15% {
        opacity: 1;
        top: 38%;
    }

    50% {
        opacity: 0;
        top: 38%;
    }

    100% {
        opacity: 0;
        top: 0%;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}
